*{
    font-family: 'Trebuchet MS';
}

h1{
    text-transform: uppercase;
    color: salmon;
}

table{
    border: 1px solid #ddeeee;
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    margin: 10px auto 10px auto;
}

table tr th{
    background-color: #efdddd;
    border: 1px solid#eedddd;
    color: #6b3333;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

table tr td{
    border: 1px solid #ddeeee;
    color: #333;
    padding: 10px;
    text-align: left;
}

a{
    background-color: salmon;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

